:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.MiImagen{
  width: 250px;
  margin-top: 5pc;
}

.nombre{
margin-top: 3pc;
}

.mover-contenido{
  margin-top: 3%;
}

.sombrita{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


