<div class="fondo">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" >Raúl Lazo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="facebook()"href="#">Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="instagram()"href="#">Instagram</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="GitHub()"href="#">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <img class="MiImagen" src="../assets/profile foto perfil.jpg" />
      </div>
    </div>
  </div>

  <!-- comentario -->

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="nombre fs-2 fw-bold">Raúl Lazo</div>
    </div>
  </div>
</div>

<div class="mover-contenido">
  <mat-card class="sombrita">
    <div class="row">
      <div class="col-md-6 text-center">
        Creatividad y experiencia, entendiendo que la capacidad de generar
        cosas, es un camino que soluciona los problemas de la vida de las
        personas, brindo soluciones creativas, rápidas y ágiles para que tu
        negocio o empresa encuentre la solución ideal para la necesidad justa.
        Creyendo siempre en el trabajo en equipo, aportando y generando
        soluciones grupales, le aporto un valor significativo a tu empresa
        aplicando metologías ágiles para una mejor interacción entre todos los
        eslabones de la cadena productiva.
      </div>

      <div class="col-md-6 text-center">
        Creativity and experience, understanding that the ability to generate
        things is a path that solves the problems of people's lives, I provide
        creative, fast and agile solutions so that your business or company
        finds the ideal solution for the right need. Always believing in
        teamwork, contributing and generating group solutions, I add significant
        value to your company by applying agile methodologies for better
        interaction between all the links in the production chain.
      </div>
    </div>
  </mat-card>


</div>



<div class="mover-contenido">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="nombre fs-2 fw-bold">Skills</div>
    </div>
  </div>


  <mat-card class="sombrita">
    <div class="row">

      <div class="col-md-6 text-center">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Trabajo en equipo</div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Angular</div>
        </div>
      </div>
    </div>

  </mat-card>

  <mat-card class="sombrita">
    <div class="row">

      <div class="col-md-6 text-center">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width: 22%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Node</div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">CSS</div>
        </div>
      </div>
    </div>

  </mat-card>

  <mat-card class="sombrita">
    <div class="row">

      <div class="col-md-6 text-center">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Html</div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Javascript</div>
        </div>
      </div>
    </div>

  </mat-card>

  <mat-card class="sombrita">
    <div class="row">

      <div class="col-md-6 text-center">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width: 23%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">SQL</div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width:27%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Typescript</div>
        </div>
      </div>
    </div>

  </mat-card>

  <mat-card class="sombrita">
    <div class="row">

      <div class="col-md-6 text-center">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Ganas de supearme</div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Metodologias agiles</div>
        </div>
      </div>
    </div>

  </mat-card>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">

      <form class="register-form"
      [formGroup]="contactForm"
      (ngSubmit)="crearFormulario($event)"

    >
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput type="name"placeholder="Nombre" formControlName="nombre" />
      </mat-form-field>

      <div></div>

      <div></div>
        <mat-form-field appearance="fill" >
          <mat-label>Mensaje</mat-label>
          <input matInput type="mensaje" formControlName="mensaje">
        </mat-form-field>
        <div *ngIf="formControl.mensaje.errors" class="text-danger">
          <div *ngIf="formControl.mensaje.errors.required">Se necesita un mensaje </div>
          </div>
      <div></div>

      <button mat-stroked-button color="accent" class="button btn-block">
        <div style="text-align: center">Crear</div>
      </button>
    </form>



    </div>

  </div>

</div>

<!-- USER NUEVO TESTTTTTTTTTTTT
TEST-->
<router-outlet></router-outlet>
